## Gerekli Kütüphaneler

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

## Veri Setinin Eklenmesi

In [2]:
df = pd.read_csv('Veriler.csv')
df.dropna(inplace=True,ignore_index=True)
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ulke      20 non-null     object
 1   boy       20 non-null     int64
 2   kilo      20 non-null     int64
 3   yas       20 non-null     float64
 4   cinsiyet  20 non-null     object
dtypes: float64(1), int64(2), object(2)
memory usage: 928.0+ bytes
None

  ulke  boy  kilo   yas cinsiyet
0   tr  130    30  10.0        e
1   tr  125    36  11.0        e
2   tr  135    34  10.0        k
3   tr  133    30   9.0        k
4   tr  129    38  12.0        e

## Veri Ön İşleme

In [3]:
x = df.iloc[:,1:4]
y = df.iloc[:,4]

In [4]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x,y,random_state=0,test_size=0.2)

## Sınıflandırma Modeli

In [5]:
from sklearn.svm import SVC
svc = SVC(kernel='poly')
svc.fit(xtrain,ytrain)
svcPredict = svc.predict(xtest)

## Model Değerlendirmesi

In [6]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(ytest,svcPredict)
print(cm)

[[0 1]
 [0 3]]