## Gerekli Kütüphaneler

In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

## Veri Setinin Eklenmesi

In [2]:
df = pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

## Veri Ön İşleme

In [3]:
x = df.iloc[:,3:13].values
y = df.iloc[:,13].values

In [4]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
le = LabelEncoder()
x[:,1] = le.fit_transform(x[:,1])
le2 = LabelEncoder()
x[:,2] = le2.fit_transform(x[:,2])

In [5]:
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer(
    transformers = [
        ("encoder", OneHotEncoder(drop='first'),[0])
    ],
    remainder = 'passthrough')

In [6]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x, y, random_state=0, test_size=0.20)

## Sınıflandırma Modeli

In [7]:
from xgboost import XGBClassifier
xgb = XGBClassifier()
xgb.fit(xtrain,ytrain)
ypred = xgb.predict(xtest)

## Model Değerlendirmesi

In [8]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(ypred,ytest)
print(cm)

[[1492  200]
 [ 103  205]]