## Gerekli Kütüphaneler

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

## Veri Setinin Eklenmesi

In [2]:
df = pd.read_csv('Social_Network_Ads.csv')
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    float64
 3   EstimatedSalary  400 non-null    float64
 4   Purchased        400 non-null    int64
dtypes: float64(2), int64(2), object(1)
memory usage: 15.8+ KB
None

    User ID  Gender   Age  EstimatedSalary  Purchased
0  15624510    Male  19.0          19000.0          0
1  15810944    Male  35.0          20000.0          0
2  15668575  Female  26.0          43000.0          0
3  15603246  Female  27.0          57000.0          0
4  15804002    Male  19.0          76000.0          0

## Veri Ön İşleme

In [3]:
x = df.iloc[:,[2,3]].values
y = df.iloc[:,4].values

In [4]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size=0.2,random_state=0)

In [5]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
xtrain = scaler.fit_transform(xtrain)
xtest = scaler.transform(xtest)

## Sınıflandırma Modeli

In [6]:
from sklearn.svm import SVC
classifier = SVC(kernel='rbf',random_state=0)
classifier.fit(xtrain, ytrain)
ypred = classifier.predict(xtest)

In [7]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(ytest,ypred)
print(cm)

[[55  3]
 [ 1 21]]

## Model Seçimi

In [8]:
from sklearn.model_selection import cross_val_score
basari = cross_val_score(estimator=classifier, X=xtrain, y=ytrain, cv=4)
print(basari.mean())
print(basari.std())

0.890625
0.0346579265825294