## Gerekli Kütüphaneler

In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

## Veri Setinin Eklenmesi

In [2]:
df = pd.read_csv('Maaslar.csv')

In [3]:
df

              unvan  Egitim Seviyesi   maas
0             Cayci                1   2250
1          Sekreter                2   2500
2  Uzman Yardimcisi                3   3000
3             Uzman                4   4000
4  Proje Yoneticisi                5   5500
5               Sef                6   7500
6             Mudur                7  10000
7          Direktor                8  15000
8           C-level                9  25000
9               CEO               10  50000

## Bağımlı Ve Bağımsız Değişkenlerin Belirlenmesi

In [4]:
x = df.drop(columns=['maas','unvan'],axis=1).values
y = df['maas'].values

## Bazı Modellerin R2 Skoru

In [5]:
from sklearn.metrics import r2_score

In [6]:
from sklearn.ensemble import RandomForestRegressor

In [7]:
rf_reg = RandomForestRegressor(n_estimators=10,random_state=0)
rf_reg.fit(x,y)
print(r2_score(y,rf_reg.predict(x)))

0.9704434230386582

In [8]:
from sklearn.tree import DecisionTreeRegressor

In [9]:
r_dt = DecisionTreeRegressor(random_state=0)
r_dt.fit(x,y)
print(r2_score(y,r_dt.predict(x)))

1.0

In [10]:
#R2 skorunun 1 çıkması çoğunlukla olağan bir durum değildir. Model belirli değerleri ezberlemiş olabilir ya da fazla öğrenmiş (Overfitting) olabilir.

In [11]:
#R2 skoru maksimum 1'dir ve en mükemmel durumdur 0 olma durumu en kötü olan durumdur fakat bu değer eksi sonsuza kadar gidebilir.